<html>
    <head>

        <!--<script-->
  <!--src="https://code.jquery.com/jquery-2.2.4.min.js"-->
  <!--integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="-->
  <!--crossorigin="anonymous"></script>-->
          <!--<script type="text/javascript" src="{{ url_for('static', filename = 'ajx.js') }}"></script>-->
        <title>{{ title }} </title>
    </head>
    <body>
        <h1>Welcome to My First App!</h1>
    <h1>Sign In</h1>
    <form action="" method="post" >

        <!--<input type="text" id="username">-->
        <!--<input type="password" id="password">-->
        {{ form.csrf_token() }}
        {{ form.submit }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>

        <!--<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>-->
        <button id ="login" type="submit"><b>Click Here!</b></button>
        <!--<input type=button onClick="parent.location.href='/home/'" value='Click Here!'>-->
    </form>
    </body>
</html>